<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  {{{body}}}
  
{{!-- nav --}}
  <div class="container">

    <nav class="white">

      <div class="nav-wrapper">

        <a href="#" class="brand-logo black-text">Logo</a>

        <ul class="hide-on-med-and-down  right">

          <li><a href="https://www.jquery-az.com/jquery-tips/" class="black-text">jQuery</a></li>

          <li><a href="https://www.jquery-az.com/javascript-tutorials/" class="black-text">JavaScript</a></li>

          <li><a href="https://www.jquery-az.com/html-tutorials/" class="black-text">HTML</a></li>

          <li class="active "><a href="https://www.jquery-az.com/css-tutorials/" class="black-text">CSS</a></li>

          <li>

            <div class="center row">

              <div class="col s12">

                <div class="row">

                  <div class="input-field col s6 s12 black-text">

                    <i class="green-text material-icons prefix">search</i>

                    <input type="text" class="blue-text">

                  </div>

                </div>

              </div>

            </div>

          </li>

        </ul>

      </div>

    </nav>

  </div>
{{!-- END NAV --}}





  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>