<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> -->

  <title>Money Match</title>
  <!-- Compiled and minified CSS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="text/css" href="css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

  <div class="container">

    <nav class="white">

      <div class="nav-wrapper">

        <!--Put img/MM-logo.png-->
        <img src="img/MM-logo.png" class="brand-logo black-text" height="100" />

        <ul class="hide-on-med-and-down  right">

          <li><a href="challenges.html" class="black-text" id="challenged">Challenged</a></li>


          <li><a href="/find-challenge" class="black-text" id="findChallenge">Find Challenge</a></li>


          <li><a href="watchMatches.html" class="black-text" id="watchMatches">Watch Money Matches</a></li>

          <li class="active "><a href="contact.html" class="black-text" id="contactUs">Contact</a></li>

          <li>

            <div class="center row">

              <div class="col s12">

                <div class="row">

                  <div class="input-field col s6 s12 black-text">

                  </div>

                </div>

              </div>

            </div>

          </li>

        </ul>

      </div>

    </nav>

  </div>
  <!-- END NAV -->
  <table class="highlight">
    <tbody>
      <!-- Table 1 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img src="https://pbs.twimg.com/profile_images/1018340603908718595/ZtaXIgFb_400x400.jpg" width="200"
            height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a class="waves-effect waves-light btn-large btn blue" colspan="5">Decline</a>
        </td>
      </tr>
      <!-- <br> -->
      <!-- Table 2 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img
            src="https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTctcc5b5R9D9RvWO1A.s6GRdUo28z2v2US9JovLvnNQd5P1R_3elY0.2xJ18zj9HJ3XUw.keuepd5l_ySHb.fUBhZ2U6fB6N2IOa4fNDfq9xGlzyDsvf.o6jQ4pR4dToc_BsJbZOteAUHd7WMfbziXwNCPIzqtQ4wBLn6ZD5.sgZE-"
            width="200" height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a class="waves-effect waves-light btn-large btn blue" colspan="5">Decline</a>
        </td>
      </tr>

      <!-- <br> -->
      <!-- Table 3 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img
            src="https://cdn02.nintendo-europe.com/media/images/11_square_images/games_18/nintendo_switch_5/SQ_NSwitch_SuperSmashBrosUltimate_02_image420w.jpg"
            width="200" height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a class="waves-effect waves-light btn-large btn blue" colspan="5">Decline</a>
        </td>
      </tr>
      <!-- <br> -->
      <!-- Table 4 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img src="https://cdn.ndtv.com/tech/gadgets/street-fighter-v-ryu-artwork.jpg" width="200" height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a class="waves-effect waves-light btn-large btn blue" colspan="5">Decline</a>
        </td>
      </tr>
      <br>
      <!-- Table 5 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img
            src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Series/90902/90902._SX360_QL80_TTD_.jpg"
            width="200" height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a class="waves-effect waves-light btn-large btn blue" colspan="5">Decline</a>
        </td>
      </tr>
      <br>
      <!-- Table 6 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img src="https://static-cdn.jtvnw.net/ttv-boxart/Dragon%20Ball%20FighterZ.jpg" width="200" height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a class="waves-effect waves-light btn-large btn blue" colspan="5">Decline</a>
        </td>
      </tr>
      <br>
      <!-- Table 7 -->
      <tr class="game-box">
        <td class="game-column game-column-ranking padding-top" rowspan="1"></td>
        <td class="game-column game-column-logo">
          <img src="http://www.dustloop.com/wiki/images/thumb/3/3d/BBTag_Logo.png/300px-BBTag_Logo.png" width="200"
            height="225">
          <a class="game-item-link" rel="nofollow" href=""></a>
        </td>
        <td class="game-column game-column-username">Username</td>
        <!-- <td class="game-column game-column-console">Console</td> -->
        <td class="game-column game-column-rating">First To</td>
        <td class="game-column game-column-tournament">Prize</td>
        <td class="game-column game-column-location">Location</td>
        <td class="game-item-link show-more-games-link" colspan="5">
          <a data-target="modal1" class="waves-effect waves-light btn-large btn blue modal-trigger" colspan="5">Decline</a>
        </td>
      </tr>
      <!-- <br> -->
    </tbody>
  </table>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>You Declined!</h4>
      <p>Are you a coward? Do you want forfeit all this prize money?!</p>
    </div>
    <div class="modal-footer">
      <a id="decline" href="#!" class="modal-close waves-effect waves-green btn-flat">Yes, I'm a total coward. I don't have the skills to win.</a>


    </div>
  </div>





  
  <script src="/js/index-logic.js"></script>

</body>

</html>