<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="body">

  <div class="container">

    <nav class="white">

      <div class="nav-wrapper">

        <img src="img/MM-logo.png" class="brand-logo black-text" height="75" />

        <ul class="hide-on-med-and-down  right">

          <li><a href="/challenges" class="black-text" id="challenged">Active Challenges</a></li>

          <li><a href="/find-challenge" class="black-text" id="findChallenge">Create Challenges</a></li>

          <li><a href="/watchMatches" class="black-text" id="watchMatches">Locations</a></li>

          <li class="active"><a href="/contact" class="black-text" id="contactUs">Contact</a></li>

          <li><a id="logout" class='black-text'>Logout</a></li>
          <li>

            <div class="center row">

              <div class="col s12">

                <div class="row">

                  <div class="input-field col s6 s12 black-text">

                  </div>

                </div>

              </div>

            </div>

          </li>

        </ul>

      </div>

    </nav>

  </div>
  <!-- END NAV -->


  <section id="contact" class="body-content content-section text-center">
    <div class="contact-section">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Let us know your thoughts</p>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal">
              <div class="form-group">
                <!-- <label for="exampleInputName2">Name</label> -->
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Name*">
              </div>
              <div class="form-group">
                <!-- <label for="exampleInputEmail2">Email</label> -->
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email@example.com">
              </div>
              <div class="form-group ">
                <!-- <label for="exampleInputText">Your Message</label> -->
                <textarea class="form-control" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Send Message</button>
            </form>

            <hr>
            <h3>Follow Our Githubs</h3>
            <ul class="list-inline banner-social-buttons">
              <li><a href="https://github.com/RawKitMan" class="btn btn-default btn-lg"><i class="fa fa-github"> <span
                      class="network-name">CJ GitHub</span></i></a></li>
              <li><a href="https://github.com/WellScripted" class="btn btn-default btn-lg"><i class="fa fa-github">
                    <span class="network-name">Will GitHub</span></i></a></li>
              <li><a href="https://github.com/nastofko/" class="btn btn-default btn-lg"><i class="fa fa-github"> <span
                      class="network-name">Nick GitHub</span></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>