<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <title>Challenge</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <nav class="white">

            <div class="nav-wrapper">

                <img src="MM-logo.png" class="brand-logo black-text" height="100" />

                <ul class="hide-on-med-and-down  right">

                    <li><a href="index.html" class="black-text">Challenged</a></li>

                    <li><a href="challenges.html" class="black-text">Find Challenge</a></li>

                    <li><a href="watchMatches.html" class="black-text">Watch Money Matches</a></li>

                    <li class="active "><a href="contact.html" class="black-text">Contact</a></li>

                    <li>

                        <div class="center row">

                            <div class="col s12">

                                <div class="row">

                                    <div class="input-field col s6 s12 black-text">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </li>

                </ul>

            </div>

        </nav>

    </div>
    <!-- END NAV -->



    






    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/index-logic.js"></script>
</body>

</html>