<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SignUp/Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <title>Home Page</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" title="no title" charset="utf-8"   >
</head>

<body>
  <div class="form">

    <ul class="tab-group">
      <li class="tab active"><a href="/">Sign Up</a></li>
      <li class="tab"><a href="/login">Log In</a></li>
    </ul>

    <!-- <div class="tab-content">
      <div id="signup">
        <h1>Welcome Back</h1> -->

        <!-- <form >

          <div class="top-row">
            <div class="field-wrap">
              <input type="text" required autocomplete="off" placeholder="First Name*" />
            </div>

            <div class="field-wrap">
              <input type="text" required autocomplete="off" placeholder="Last Name*" />
            </div>
          </div>

          <div class="field-wrap">
            <input type="username" required autocomplete="off" placeholder="Username*" />
          </div>

          <div class="field-wrap">
            <input type="email" required autocomplete="off" placeholder="Email Address*" />
          </div>

          <div class="field-wrap">
            <input type="password" required autocomplete="off" placeholder="Set A Password*" />
          </div>

          <div class="field-wrap">
            <input type="dropdown"required autocomplete="off"/>
            <select id="gameList">
              <option value="1">Select Game</option>
              <option value="2">Tekken</option>
              <option value="3">Mortal Kombat</option>
              <option value="4">Injustice</option>
              <option value="5">BlazBlue</option>
              <option value="6">Smash Bros</option>
              <option value="7">Dragonball FighterZ</option>
              <option value="8">Street Fighter</option>
            </select>
          </div>

          <button type="submit" class="button button-block" id="findMatches">Find Matches</button>

        </form> -->

      <!-- </div> -->

      <div id="login">
        <h1>Welcome Back!</h1>

        <form>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" />
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <a href="challenges.html">
            <button class="button button-block" id="login">Log In</button>
          </a>

        </form>

      </div>

    </div><!-- tab-content -->

  </div> <!-- /form -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/registration.js"></script>


</body>

</html>