<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> -->

    <title>Locations</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="assets/style.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <nav class="white">

            <div class="nav-wrapper">

                <img src="MM-logo.png" class="brand-logo black-text" height="100" />

                <ul class="hide-on-med-and-down  right">

                    <li><a href="challenges.html" class="black-text" id="challenged">Challenged</a></li>

                    <li><a href="find-challenges.html" class="black-text" id="findChallenge">Find Challenge</a></li>

                    <li><a href="watchMatches.html" class="black-text" id="watchMatches">Locations</a></li>

                    <li class="active "><a href="contact.html" class="black-text" id="contactUs">Contact</a></li>
                    
                    <li><a id="logout" class='black-text'>Logout</a></li>

                    <li>

                        <div class="center row">

                            <div class="col s12">

                                <div class="row">

                                    <div class="input-field col s6 s12 black-text">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </li>

                </ul>

            </div>

        </nav>

    </div>

    <!-- END NAV -->
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1CnTDSTByvL3LDzxR9Q-zllTWwL66645S" width="940"
            height="580"></iframe>
    </div>


</body>

</html>